node_modules
package-lock.json
public/bundle.js
public/bundle.js.map
info.txt
paypal-backend
paypal-firstattempts
secrets.js
setup-linter-prettier.sh
client/redux/index.spec.js
client/redux/mock-axios.js